.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
p {
    font-family: 'Assistant', sans-serif;
    font-weight: 200;
    font-size: 1.5em;
}


.videos {
    margin-bottom: 60px;
}

.link {
    width: 65vw;
    max-width: 600px;
    margin-bottom: 25px;
}
.link-div {
    margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    
}
#carousel-videos {
    width: 560px;
    border-radius: 10px;
}
a:hover {
    background-color: rgba(255, 242, 226, 0.783);
}
a {
    background-color: rgba(255, 228, 196, 0.402);
    display: flex;
    align-items: center;
    box-shadow: 0px -1px 14px 3px rgba(0,0,0,0.76);
    -webkit-box-shadow: 0px -1px 23px 3px rgba(0,0,0,0.76);
    -moz-box-shadow: 0px -1px 23px 3px rgba(0,0,0,0.76);
    border-radius: 20px;
    text-decoration: none;
    color: black;
}
.link-img {
    min-width: 65px;
    width: 12%;
    height: auto;
    max-width: 50px;
    border-radius: 15px 0 0 15px;
    box-shadow: 5px 2px 26px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 2px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 2px 26px 0px rgba(0,0,0,0.75);
}
.albums {
    width: 94vw;
    margin-top: 40px;
    margin-bottom: 40px;
}
.album {
    display: flex;
}
.album-img > img {
    width: 350px;
    border-radius: 10px;

}
.album-img {
    width: 55vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.album-det {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.album-date {
    font-size: 1em;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
.album-song {
    font-size: 0.8em;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
.album-name {
    margin-bottom: 40px;
}
.fade-in {
    background-color: black;
}
@media (max-width:620px) {
    iframe, #carousel-videos {
        width: 100vw;
        border-radius: 0;
    }
    .link {
        width: 86vw;
    }
    .videos {
        margin-top: 20px;
    }
    .album-det {
        margin-left: 20px;
    }
    .album-name {
        margin-bottom: 0;
    }
    .album-det-start {
        position: absolute;
        top: 0;
    }
    .album-songs {
        position: absolute;
        bottom: 0;
    }
}   
