<div class="container">
    <div class="videos">
        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel" style="overflow:hidden">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/SLTNE9ifHOU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="carousel-item">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/g0hc29sbhCw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="carousel-item">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/_Ej_7OdfWAU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                
                </div>
            </div>
        </div>
    </div>
    <div class="link">
        <a href="https://open.spotify.com/artist/5NKasb7WjHyBYb51IjrzcO" target="_blank">
            <img src=".\assets\spotify.jpg" alt="">            
            <div class="link-div">
                Spotify
            </div>
        </a>
    </div>
    <div class="link">
        <a href="https://www.youtube.com/channel/UCXq3N_ObuF-_JXBhfM-GZ0Q" target="_blank">
            <img src=".\assets\youtube.jpg" alt="">            
            <div class="link-div">
                YouTube
            </div>
        </a>
    </div>
    <div class="link">
        <a href="https://music.apple.com/us/artist/alon-kessel/1519789406" target="_blank">
            <img src=".\assets\apple.jpg" alt="">            
            <div class="link-div">
                Apple Music
            </div>
        </a>
    </div>
    <div class="link">
        <a href="https://www.facebook.com/AlonKesselMusic" target="_blank">
            <img src=".\assets\facebook.png" alt="">            
            <div class="link-div">
                Facebook
            </div>
        </a>
    </div>
    <div class="link">
        <a href="https://www.instagram.com/kesselalon" target="_blank">
            <img src=".\assets\instagram.png" alt="">            
            <div class="link-div">
                Instagram
            </div>
        </a>
    </div>
    

</div>
