<div class="container">
    <p>מי שרגיש  - ירגיש</p>
    <p>t</p>
    <p>t</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/SLTNE9ifHOU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>t</p>
    <p>t</p>
    <p>t</p>
    <div class="link">
        <a href="https://open.spotify.com/artist/5NKasb7WjHyBYb51IjrzcO" target="_blank">
            <img src=".\assets\spotify.jpg" alt="">            
            <div class="link-div">
                Spotify
            </div>
        </a>
    </div>
    <div class="link">
        <a href="https://www.youtube.com/channel/UCXq3N_ObuF-_JXBhfM-GZ0Q" target="_blank">
            <img src=".\assets\youtube.jpg" alt="">            
            <div class="link-div">
                YouTube
            </div>
        </a>
    </div>
    <div class="link">
        <a href="https://music.apple.com/us/artist/alon-kessel/1519789406" target="_blank">
            <img src=".\assets\apple.jpg" alt="">            
            <div class="link-div">
                Apple Music
            </div>
        </a>
    </div>
    
   

    <p>t</p>
    <p>t</p>
    <p>t</p>
    <p>t</p>
    <p>t</p>
    <p>t</p>
    <p>t</p>
    <p>t</p>
</div>
