<div class="container">
    <div class="videos">
        <div id="carousel-videos" class="carousel slide carousel-fade" data-bs-ride="carousel" style="overflow:hidden">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/SLTNE9ifHOU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="carousel-item">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/g0hc29sbhCw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="carousel-item">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Dfj5oE8pcPs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                
                </div>
                <div class="carousel-item">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/rFL0_Tyboag" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                
                </div>
                <div class="carousel-item">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/_Ej_7OdfWAU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                
                </div>
            </div>
        </div>
    </div>
    <div class="link">
        <a href="https://open.spotify.com/artist/5NKasb7WjHyBYb51IjrzcO" target="_blank">
            <img class="link-img" src=".\assets\spotify.jpg" alt="">            
            <div class="link-div">
                Spotify
            </div>
        </a>
    </div>
    <div class="link">
        <a href="https://www.youtube.com/channel/UCXq3N_ObuF-_JXBhfM-GZ0Q" target="_blank">
            <img class="link-img" src=".\assets\youtube.jpg" alt="">            
            <div class="link-div">
                YouTube
            </div>
        </a>
    </div>
    <div class="link">
        <a href="https://music.apple.com/us/artist/alon-kessel/1519789406" target="_blank">
            <img class="link-img" src=".\assets\apple.jpg" alt="">            
            <div class="link-div">
                Apple Music
            </div>
        </a>
    </div>
    <div class="link">
        <a href="https://www.facebook.com/AlonKesselMusic" target="_blank">
            <img class="link-img" src=".\assets\facebook.png" alt="">            
            <div class="link-div">
                Facebook
            </div>
        </a>
    </div>
    <div class="link">
        <a href="https://www.instagram.com/kesselalon" target="_blank">
            <img class="link-img" src=".\assets\instagram.png" alt="">            
            <div class="link-div">
                Instagram
            </div>
        </a>
    </div>

    <div class="albums">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="album">
                    <div class="album-img">
                        <img class="img-fluid" src=".\assets\album1.png" alt="">
                    </div>
                    <div class="album-det">
                        <p class="album-date">יולי 2020</p>
                        <p class="album-name">מסתדר טוב</p>
                    <div class="album-songs">
                        <p class="album-song">מתגעגע לאהבה</p>
                        <p class="album-song">עשבים שוטים</p>
                        <p class="album-song">אם הייתי</p>
                        <p class="album-song">ביחד לתמיד</p>
                        <p class="album-song">מסתדר טוב</p>
                    </div>
                    </div>
                </div> 
                </div> 
              <div class="carousel-item">
                <div class="album">
                    <div class="album-img">
                        <img class="img-fluid" src=".\assets\asur.png" alt="">
                    </div>
                    <div class="album-det">
                        <p class="album-date">ספטמבר 2020</p>
                        <p class="album-name">אסור לך</p>
                    </div>
                </div>                
            </div>
              <div class="carousel-item">
                <div class="album">
                    <div class="album-img">
                        <img class="img-fluid" src=".\assets\ski1.png" alt="">
                    </div>
                    <div class="album-det">
                        <p class="album-date">פברואר 2021</p>
                        <p class="album-name">סקיצות א</p>
                    <div class="album-songs">
                        <p class="album-song">בית, אלתור לילה</p>
                        <p class="album-song">אדם רגיש</p>
                        <p class="album-song">לא בא אלייך</p>
                        <p class="album-song">אני, אוהב את עצמי</p>
                        <p class="album-song">זמן לא עובר לי</p>
                    </div>
                    </div>
                </div>                
            </div>
              <div class="carousel-item">
                <div class="album">
                    <div class="album-img">
                        <img class="img-fluid" src=".\assets\ski2.png" alt="">
                    </div>
                    <div class="album-det">
                        <p class="album-date">אפריל 2021</p>
                        <p class="album-name">סקיצות ב</p>
                    <div class="album-songs">
                        <p class="album-song">רכבת</p>
                        <p class="album-song">נמאס לי ממחר</p>
                        <p class="album-song">אני ואת עוד נחזור 2</p>
                        <p class="album-song">לבכות את זה יותר</p>
                        <p class="album-song">אולי אוותר עלייך, אלתור צהריים</p>
                    </div>
                    </div>
                </div>                
            </div>
              <div class="carousel-item">
                <div class="album">
                    <div class="album-img">
                        <img class="img-fluid" src=".\assets\ski3.png" alt="">
                    </div>
                    <div class="album-det">
                        <p class="album-date">יוני 2021</p>
                        <p class="album-name">סקיצות ג</p>
                        <div class="album-songs">
                            <p class="album-song">איזה יופי</p>
                            <p class="album-song">אל תדאגי</p>
                            <p class="album-song">ים, אלתור בוקר</p>
                            <p class="album-song">אין לי שקט ממך</p>
                            <p class="album-song">כמה עוד</p>
                        </div>
                    </div>
                </div>                
            </div>
              <div class="carousel-item">
                <div class="album">
                    <div class="album-img">
                        <img class="img-fluid" src=".\assets\ski4.png" alt="">
                    </div>
                    <div class="album-det">
                        <p class="album-date">אוגוסט 2021</p>
                        <p class="album-name">סקיצות ד</p>
                    <div class="album-songs">
                        <p class="album-song">אני עוזב</p>
                        <p class="album-song">אף אחת לא יפה כמוך</p>
                        <p class="album-song">באמצע</p>
                        <p class="album-song">מה השתנה בי</p>
                        <p class="album-song">השמש עוד תזרח</p>
                    </div>
                    </div>
                </div>                
            </div>
              
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>

    <!-- <div class="albums">
        <div class="album">
            <div class="album-img">
                <img class="img-fluid" src=".\assets\album1.jpg" alt="">
            </div>
            <div class="album-det">
                <p class="album-date">יולי 2020</p>
                <p class="album-name">מסתדר טוב</p>
                <p class="album-song">מתגעגע לאהבה</p>
                <p class="album-song">עשבים שוטים</p>
                <p class="album-song">אם הייתי</p>
                <p class="album-song">ביחד לתמיד</p>
                <p class="album-song">מסתדר טוב</p>
            </div>
        </div>  
    </div> -->

</div>
